<nav class="navbar navbar-expand-lg navbar-primary default">
    <a class="navbar-brand" routerLink="/GithubSearch"><b>Github Search</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="Home" routerLinkActive='active'>Home<span
                    class="sr-only">(current)</span></a>
        </div>
    </div>
    <h1><img src="https://bit.ly/2E1b76l" width="300px"></h1>
</nav>
<br>
<br>